@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400&display=swap');

:root {
    --bordergray: rgba(220, 220, 220, 0.5);
    --red: #c8000d;
    --lightred: #c8000dde;
    --green: #3cba54;
    --white: white;
    --textwhite: white;
    --lightwhite: rgb(250, 250, 250);
    --black: black;
    --textblack: black;
    --lightblack: rgb(20, 20, 20);
}

html {
    font-size: 15px;
    user-select: text;
    text-align: center;
    color: var(--textblack);
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 135px !important;
}

body {
    margin: auto;
    background-color: var(--lightwhite);
}

#header {
    z-index: 1;
    width: 100%;
    height: 70px;
    transition: 0.2s;
    user-select: none;
    position: fixed !important;
    background-color: var(--lightwhite);
    border-bottom: solid var(--bordergray) 2px;
}

#headerTxt,
#race-details-name,
#driver-year,
#constructor-year,
#calendar-year {
    float: left;
    border: none;
    cursor: text;
    font-size: 25px;
    transition: 0.2s;
    font-weight: 550;
    border-radius: 11px;
    margin: 25px 0 0 50px;
    color: var(--textblack);
    padding: 5px 10px !important;
    background-color: transparent;
    font-family: 'Poppins', sans-serif !important;
}

#headerTxt {
    cursor: pointer;
    margin: 20px 20px 0;
}

#yearPicker,
#calIcon {
    float: left;
    display: flex;
    margin: 0 5px;
    transition: 0.2s;
    align-items: center;
}

#yearPickerWrapper {
    display: flex;
    align-items: center;
}

#yearPicker {
    width: 80px;
    padding: 5px;
    font-size: 15px;
    font-weight: 520;
    margin: 23px 0;
    border-radius: 10px;
    border: solid var(--bordergray) 2px;
    background-color: transparent;
    color: var(--textblack);
    cursor: pointer;
}

#calIcon {
    opacity: 0;
    font-size: 30px;
    cursor: pointer;
    margin-top: 22px;
    color: var(--red);
    pointer-events: none;
    background-color: transparent;
}

#desktopMenu {
    float: right;
    display: block;
    font-size: 15px;
    transition: 0.2s;
    margin: 33px 50px;
}

#desktopMenu a {
    font-weight: 500;
    transition: 0.2s;
    padding: 5px 10px !important;
    border: solid 2px transparent;
}

#mobileMenu {
    float: left;
    width: 100%;
    bottom: 20px;
    display: none;
    font-size: 25px;
    position: relative;
}

#mobileMenu a {
    font-weight: 550;
    transition: 0.1s;
}

#calIcon,
#desktopMenu a,
#mobileMenu a {
    cursor: pointer;
    padding: 3px 5px;
    color: var(--textblack);
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    scale: 1;
}

#calIcon,
#mobileMenu a,
#mobileMenu a:hover,
#mobileMenu a:active {
    color: var(--red);
}

#desktopMenu a:hover {
    border: solid 2px var(--red);
}

#calIcon:active,
#desktopMenu a:active {
    scale: 0.9 !important;
    color: var(--textwhite);
    background-color: var(--red);
}

.content {
    padding-bottom: 0px;
    padding-top: 130px !important;
}

#next,
#driver,
#constructor,
#calendar {
    margin: 0 20% 5%;
    text-align: center;
    border-radius: 15px;
    color: var(--textblack);
    background-color: var(--white);
    border: solid var(--bordergray) 2px;
}

.nextheader {
    display: flex;
    margin: 0 30px;
    align-items: center;
    justify-content: space-between;
}

.nextheader p {
    display: inline-block;
}

#race-details-venue {
    text-align: right;
}

#race-details-name {
    margin: auto !important;
    cursor: pointer;
    user-select: text;
    float: none !important;
    text-align: center !important;
}

#race-details-name:hover {
    color: var(--red);
}

#race-details-name:active {
    scale: 0.95;
    color: var(--textwhite);
    background-color: var(--red);
}

#driver-year,
#constructor-year,
#calendar-year {
    margin: 0;
    float: none !important;
    text-align: center !important;
    padding: 20px 0 10px !important;
}

#race-details {
    padding: 15px 0;
}

.nextheader p,
.p1txt,
.p2txt,
.p3txt,
.schedule-label,
#race-details-track,
#lapstxt,
#lengthtxt,
#distancetxt {
    font-weight: 520;
    display: inline-block;
}

.p1dt,
.p2dt,
.p3dt,
.schedule-date {
    font-weight: 400;
    display: inline-block;
}

.pt-5 {
    padding-top: 20px;
}

#trackData {
    margin: auto;
    padding-top: 5px;
    width: fit-content;
    text-align: justify;
    padding-bottom: 15px;
}

#track-laps,
#track-length,
#track-distance {
    font-weight: 400;
    display: inline-block;
    font-family: 'Noto Sans Mono', monospace;
}

#driver-table,
#constructor-table,
#calendar-table {
    width: 100%;
    margin: 0 auto;
}

#driver-table th:nth-child(7),
#constructor-table th:nth-child(5) {
    font-weight: 530;
}

#driver-table th,
#constructor-table th,
#calendar-table th {
    font-weight: 530;
    padding: 0 10px 10px;
    padding-left: 20px !important;
    border-bottom: solid var(--bordergray) 2px;
}

#driver-table td,
#constructor-table td,
#calendar-table td {
    padding: 5px 0;
    padding-left: 20px !important;
}

#driver-table th:nth-child(3),
#driver-table td:nth-child(3) {
    display: none;
}

#driver-table td:nth-child(6),
#driver-table td:nth-child(7),
#constructor-table td:nth-child(4),
#constructor-table td:nth-child(5) {
    font-family: 'Noto Sans Mono', monospace;
}

#calendar {
    margin: 0 10% 5% !important;
}

#driver-table tbody tr:hover,
#constructor-table tbody tr:hover,
#calendar-table tbody tr:hover {
    background-color: var(--lightred) !important;
    color: var(--textwhite);
    cursor: pointer;
}

#driver-table th:first-child,
#driver-table td:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

#driver-table th:last-child,
#driver-table td:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

#constructor-table th:first-child,
#constructor-table td:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

#constructor-table th:last-child,
#constructor-table td:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

#calendar-table th:first-child,
#calendar-table td:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

#calendar-table th:last-child,
#calendar-table td:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

#driver-table tbody tr,
#constructor-table tbody tr,
#calendar-table tbody tr {
    transition: background-color 0.18s ease;
}

table {
    text-align: justify;
    border-collapse: collapse;
}

#tableFooter {
    margin-top: 4px;
    font-weight: 520;
    padding: 5px 0;
    border-top: solid var(--bordergray) 2px;
}

.errorTxt,
#driverError,
#constructorError,
#calendarError {
    display: none;
    color: var(--red) !important;
}

#copyTxt {
    margin: 0;
    display: none;
    padding: 5px;
    font-size: 25px;
    font-weight: 550;
    transition: 0.3s;
    color: var(--green) !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ti-loader-2 {
    font-size: 35px;
    color: var(--red);
    display: inline-block;
    animation: rotate 1.5s linear infinite;
}

footer {
    color: var(--textblack);
    background-color: var(--lightwhite);
    border-top: solid var(--bordergray) 2px;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
}

#footerBtn {
    scale: 1;
    font-size: 15px;
    transition: 0.2s;
    border-radius: 9px;
    color: var(--textblack);
    border: solid 2px transparent;
    background-color: transparent;
    cursor: pointer !important;
}

#footerBtn:hover {
    border: solid 2px var(--red);
}

#footerBtn:active {
    scale: .95;
    color: var(--textwhite);
    border: solid 2px var(--red);
    background-color: var(--red);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --red: #ac000b;
        --lightred: #ac000bde;
        --bordergray: rgba(75, 75, 75, 0.5);
    }

    body,
    footer {
        color: var(--textwhite);
        background-color: var(--black);
    }

    #header {
        background-color: var(--black);
    }

    #headerTxt,
    #race-details-name,
    #driver-year,
    #constructor-year,
    #calendar-year,
    #desktopMenu a {
        color: var(--textwhite);
    }

    #yearPicker {
        color: var(--textwhite);
        background-color: var(--black);
    }

    #next,
    #driver,
    #constructor,
    #calendar {
        color: var(--textwhite);
        background-color: var(--lightblack);
    }

    #footerBtn {
        color: var(--textwhite);
    }

    @media (max-width: 768px) {

        #race-details-name,
        #race-details-name:hover,
        #race-details-name:active {
            color: var(--textwhite) !important;
        }
    }
}

/* Mobile */
@media (max-width: 768px) {
    #header {
        height: 85px;
    }

    #headerTxt,
    #headerTxt:hover,
    #headerTxt:active {
        float: left;
        padding: 3px;
        margin: 20px 0;
        scale: 0.7 !important;
        background-color: transparent !important;
    }

    #headerTxt {
        margin: 6px 0;
    }

    #yearPicker {
        width: 70px;
        margin: 12px 0;
        padding: 4px;
        font-size: 13px;
        border-radius: 9px;
    }

    #calIcon {
        font-size: 27px;
        margin: 0px 5px 0 !important;
    }

    #calIcon:active {
        scale: 1;
        color: var(--red);
        background-color: transparent;
    }

    #desktopMenu {
        display: none;
    }

    #mobileMenu {
        padding-top: 16px;
        display: block;
    }

    .content {
        padding-bottom: 0;
    }

    #next,
    #driver,
    #constructor,
    #calendar {
        margin: 0 5% 15% !important;
    }

    #race-details-name,
    #driver-year,
    #constructor-year,
    #calendar-year {
        font-size: 18px;
        transition: 0.3s;
        padding: 15px 0 !important;
    }

    .nextheader {
        margin-bottom: 3px;
    }

    #race-details-name,
    #race-details-name:hover,
    #race-details-name:active {
        scale: 1 !important;
        color: var(--textblack);
        padding: 0 !important;
    }

    #headerTxt:hover,
    #headerTxt:active,
    #race-details-name:hover,
    #race-details-name:active {
        background-color: transparent !important;
    }

    .nextheader p,
    #race-details,
    #race-details-track,
    #trackData,
    #driver-table,
    #constructor-table,
    #calendar-table,
    #tableFooter {
        font-size: 12px;
    }

    #driver-table,
    #calendar-table {
        font-size: 10px;
    }

    #driver-table th:nth-child(3),
    #driver-table td:nth-child(3) {
        display: block;
    }

    #driver-table th:nth-child(2),
    #driver-table td:nth-child(2),
    #driver-table th:nth-child(4),
    #driver-table td:nth-child(4),
    #driver-table th:nth-child(7),
    #driver-table td:nth-child(7),
    #constructor-table th:nth-child(3),
    #constructor-table td:nth-child(3),
    #constructor-table th:nth-child(5),
    #constructor-table td:nth-child(5),
    #calendar-table th:nth-child(3),
    #calendar-table td:nth-child(3),
    #calendar-table th:nth-child(4),
    #calendar-table td:nth-child(4) {
        display: none;
    }

    td {
        font-weight: 450;
    }

    #driver-table th,
    #constructor-table th,
    #calendar-table th {
        padding-left: 18px !important;
    }

    #driver-table tbody tr:hover,
    #constructor-table tbody tr:hover,
    #calendar-table tbody tr:hover {
        background-color: transparent !important;
        color: var(--lightred) !important;
        cursor: pointer;
    }

    .pt-5 {
        padding-top: 13px;
    }

    .ti-loader-2 {
        font-size: 20px;
    }

    #copyTxt {
        padding: 0;
        font-size: 18px;
    }

    #yearPicker,
    #next,
    #driver,
    #constructor,
    #calendar {
        border: solid var(--bordergray) 1px;
        border-radius: 9px;
    }

    #driver-table th,
    #constructor-table th,
    #calendar-table th {
        border-bottom: solid var(--bordergray) 1px;
    }

    #tableFooter {
        border-top: solid var(--bordergray) 1px;
    }

    footer {
        font-size: 12px;
    }
}