body {
  background-color: white !important;
  color: black !important;
}

body.dark-mode {
  background-color: black !important;
  color: white !important;
}

#header {
  font-size: 33px;
  transition: 0.3s;
  height: 70px;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

#headertxt {
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

#headertxt.dark-mode {
  color: white !important;
}

#headertxt:hover {
  display: block;
  color: red !important;
}

#next,
#driver,
#constructor {
  background-color: white !important;
  color: black !important;
  font-weight: 500;
  transition: 0.2s;
  align-content: center;
  text-align: center;
  margin: 30px auto;
  width: 65%;
}

#next.dark-mode,
#driver.dark-mode,
#constructor.dark-mode {
  background-color: #131313 !important;
  color: white !important;
}

#next:hover,
#driver:hover,
#constructor:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

table {
  transition: 0.2s;
  font-weight: 500;
  margin: 10px auto 10px auto;
  width: 80%;
  align-content: left;
  text-align: left;
  border-collapse: separate;
}

th,
td {
  padding: 4px 50px 6px 50px !important;
}

.tableFooter {
  font-weight: 600;
}

#nav-link {
  transition: 0.2s;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: red !important;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

#nav-link.active {
  color: white !important;
  background-color: red !important;
}

.linkOut {
  transition: 0.2s;
  font-weight: 600;
}

.linkOut:hover {
  color: red !important;
}

#darkText,
#driver-table,
#constructor-table {
  color: black !important;
}

#darkText.dark-mode,
#driver-table.dark-mode,
#constructor-table.dark-mode {
  color: white !important;
}

input {
  font-size: 20px;
  font-weight: 600 !important;
  width: 120px !important;
}

.loading-cell,
.error-cell {
  padding-top: 20px !important;
  text-align: center;
  color: red !important;
}

#yearPicker.dark-mode {
  background-color: #131313 !important;
  color: white !important;
}